# Godot 4+ specific ignores
.godot/
/android/
/Progress
export/web/FreezingYeti.zip
export/web/index.apple-touch-icon.png
export/web/index.apple-touch-icon.png.import
export/web/index.audio.worklet.js
export/web/index.html
export/web/index.icon.png
export/web/index.icon.png.import
export/web/index.js
export/web/index.pck
export/web/index.png
export/web/index.png.import
export/web/index.wasm
export/win/FreezingYetiWin.console.exe
export/win/FreezingYetiWin.exe
export/win/FreezingYetiWin.zip
